<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OFOS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="min-vh-100 position-relative container-fluid px-0">
        @Html.Partial("_Navbar")
        <div class="w-100 pb-5">
            @RenderBody()
        </div>
        <footer class="mt-2 w-100">
            <hr />
            <p class="text-center">&copy; @DateTime.Now.Year - OFOS</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
